* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: #000;
  color: #fff;
  padding: 23px 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}
.navbar button {
  color: #fff;
  background-color: #000;
  border: #000;
  margin: 0 10px;
  font-size: 1.1rem;
}
.card {
  box-shadow: 10px 12px rgb(219, 211, 211);
}
.container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 30px;
}
.avatar {
  width: 100%;
  height: 300px;
}
.avatar:hover {
  transform: scale(1.1);
  transition: 0.7s;
}
.info {
  padding: 10px;
}
.btn-ver-mas {
  background-color: #ffffff;
  border: #fff;
  color: rgb(12, 118, 159);
}
.icon {
  width: 30px;
  height: 30px;
  display: block;
}
.total {
  margin-bottom: 10px;
}
.botones-paginacion {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.boton-paginacion {
  background-color: #ffffff;
  border: #fff;
  color: rgb(12, 118, 159);
  margin: 10px 10px;
  font-size: 1.9rem;
}
.pagina-actual {
  text-align: center;
  margin-top: 50px;
}

.boton-paginacion:disabled {
  color: rgb(185, 181, 181);
}

.footer {
  background-color: #121212;
  color: #666;
  padding: 48px 0;
  text-align: center;
  font-size: 1.3rem;
}
@media screen and (min-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
